<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} portfolio E.G {% endblock %}</title>
    <link rel="shortcut icon" type="image/png" href="/images/logoOnglet_elo.png">
    {% block style %} {% endblock %}
</head>

<body>
    {% block header %} {% endblock %}

    {% block main %} {% endblock %}

    {% block footer %} {% endblock %}

    {% block script %}
     <script src="script/main.js"></script>
     <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
	 <script>
		    AOS.init();
     </script>
    {% endblock %}
     
</body>
</html>